body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ccc;
}

#header{

    background-image: url(/imagens/bg-2.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: bottom;
}

#menu a{
    text-decoration: none;
    color: #FFF;
    background-color: rgba(78, 52, 63, 0.2);
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

#menu a:hover{
    background-color: rgb(252, 173, 173);
    transition: 0.3s;
}

#menu{
    text-align: right;
    padding-top: 40px;
    padding-right: 30px;
}

#logo{
    text-align: center;
    padding-top: 200px;
    color: #FFF;

}

#logo h1{
    font-size: 50px;
}

#logo-p{
    background-color: rgba(78, 52, 63, 0.3);
    border-radius: 5px;
    width: 15%;
    text-align: center;
    padding: 10px;    
    box-sizing: border-box;
    margin: auto;
    border-bottom: 1px solid #FFF;
}




#section_1{
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    background-color: #FFF;
    margin-top: 10px;
    padding-top: 10px;  
    padding-bottom: 10px;  

}

#section_1 p{
    display: block;
}

#fotos{
    width: 100%;
    
}

#section_1, #section_2{
    overflow: auto;
}

#foto_1{
    float: left;
    width: 32%;
    margin-left: 1%;
    margin-right: 1%;
    
}

#foto_1 img{
    width: 100%;
    display: block;
}

#foto_2 img{
    width: 100%;
    display: block;

}

#foto_3 img{
    width: 100%;
    display: block;

}


#foto_2{
    float: left;
    
    width: 32%;
    margin-right: 1%;

}

#foto_3{
    float: left;
    
    width: 32%;
}

#fotos p{
    background-color: rgba(78, 52, 63, 0.3);
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}





#section_2{
    background-color: #FFF;
    width: 60%;
    box-sizing: border-box;
    margin: auto;
    height: 200px; 
    padding-left: 10px;
    margin-top: 10px;
    clear: both;
    
        
}
    
#footer_p{
    text-align: center;
    background-color: rgba(78, 52, 63, 0.3);
    width: 60%;
    margin: auto;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
        
        
}